/* Global styles for the application */

:root {
    color-scheme: light dark;
}

/* Reset default margins and paddings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
}

#app {
    width: 100%;
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
    height: 100%;
}

.chat-container .chat-history {
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    font-family: sans-serif;
    font-size: calc(0.5vw + 1vh);
}

.chat-history .message {
    width: fit-content;
    max-width: 70%;
    margin: 5px;
    padding: 10px 15px;
    margin-left: auto;
    border-radius: 8px;
    background-color: #023e8a;
}

.chat-container .chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.chat-input textarea {
    /* ToDo: hacer que el text area crezca con el contenido */
    padding-top: 10px;
    padding-left: 20px;
    width: 90%;
    height: 50px;
    font-size: 16px;
    border-radius: 8px 0px 0px 8px;
    resize: none;
    outline: none;
    border: 1px solid #6c757d;
}

.chat-input button {
    width: 10%;
    height: 50px;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #6c757d;
    cursor: pointer;
}