/* Global styles for the application */

:root {
    color-scheme: light dark;

    --darker-color: #1c2023;
    --dark-color: #212529;
    --light-color: whitesmoke;
    --glass-color-dark: #2b3035;
    --border-glass-color-dark: #495057;
    --glass-color-light: #f8f9fa;
    --border-glass-color-light: #dee2e6;
    --blue-color: #0077b6;
}

/* Reset default margins and paddings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p, span, a {
    margin: 1vh 0px;
    color: light-dark(var(--dark-color), var(--light-color));
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="number"], 
textarea {
    margin: 5px 5px;
    padding: 1vh 1vw;
    outline: none;
    border: 1px solid rgba(256, 256, 256, 0.1);
    border-radius: 12px;
    background-color: light-dark(var(--glass-color-light), var(--dark-color));
    color: light-dark(var(--dark-color), var(--light-color));
    font-family: sans-serif;
    font-size: 16px;
}

button {
    margin: 5px 6px;
    padding: 1vh 1vw;
    width: auto;
    color: var(--light-color);
    background-color: transparent;
    text-shadow: none;
    border-radius: 12px;
    font-size: calc(0.5vw + 1vh);
    border: none;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100dvh;
}

#app {
    width: 100%;
    height: 100%;
}

/* Login styles */

.login {
    width: 100%;
    height: 100%;
    align-content: center;
}

.login .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10vh 0;
    width: 35%;
    border: 1px solid light-dark(var(--border-glass-color-light), var(--border-glass-color-dark));
    border-radius: 12px;
    background-color: light-dark(var(--glass-color-light), var(--dark-color));
}

.login-card input {
    width: 50%;
}

.login-card button {
    width: 50%;
    background-color: var(--blue-color);
}

.chat-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
    height: 100%;
}

.chat-container .chat-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    font-family: sans-serif;
    font-size: calc(0.5vw + 1vh);
}

.chat-history h2 {
    padding: 1vh 0;
    border-bottom: 1px solid light-dark(var(--border-glass-color-light), var(--border-glass-color-dark));
}

.chat-history .message-container {
    width: 100%;
}

.chat-container .message-header {
    width: 100%;
}

.message-header small {
    color: var(--blue-color);
}

.chat-container .message-body {
    display: flex;
    align-items: center;
}

.message-body div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-body div p {
    padding-left: 15px;
    border-left: 3px solid var(--blue-color);
    width: 90%;
    word-break: break-all;
}

.message-body div p.message-text {
    border-left: 3px solid var(--blue-color);
}

.message-body div p.message-translated {
    border-left: 3px solid light-dark(var(--border-glass-color-light), var(--border-glass-color-dark));
}

.chat-container .chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.chat-input textarea {
    /* ToDo: hacer que el text area crezca con el contenido */
    margin: 0px;
    width: 90%;
    max-height: 10dvh;
    resize: none;
    field-sizing: content;
}