/* styles for message component */

.message-container {
    margin: 12px 0;
    width: 100%;
}

.message-container .message-header span {
    color: #00b4d8;
    font-size: 14px;
    font-weight: 800;
}

.message-container .message-body div p {
    margin: 4px 0;
    padding-left: 8px;
    font-size: 18px;
    word-break: break-all;
}

.message-container .message-body div p.text {
    border-left: 2px solid #00b4d8;
}

.message-container .message-body div p.translated {
    border-left: 2px solid gray;
}