/* styles for the chat */

.chat-container {
    width: 100%;
    height: 100%;
    align-content: center;
}

.chat-container .chat-history {
    margin: 0 auto;
    width: 40%;
    height: 90dvh;
}

.chat-history h2 {
    margin-bottom: 12px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.chat-container .chat-input {
    margin: 0 auto;
    width: 40%;
    height: 10%;
    align-content: center;
}

.chat-input textarea {
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 90%;
    height: 80%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 18px;
    background-color: light-dark(#f0f0f0, #2c2c2c);
}