/* responsive design styles */

@media screen and (max-width: 768px) {
    .chat-container .chat-history {
        width: 90%;
    }

    .chat-container .chat-input {
        width: 90%;
    }

    .chat-input textarea {
        width: 95%;
        font-size: 16px;
    }
}