/* overrides default styles for DOM elements */

:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
}

#root {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: sans-serif;
}